.center-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.mat-card-title,
.mat-card-content {
  display: flex;
  justify-content: center;
}

.mat-card-title {
  text-transform: uppercase;
  padding: 10px 0;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.add-btn {
  background: #330033;
  color: #ffffff;
}

.button {
  display: flex;
  justify-content: center;
}
